
  <h1>Books</h1>


<% @books.each do |book| %>

<div class="container">  <!-- この行を追加 -->

  <div class="row">      <!-- この行を追加 -->

  <table class="table table-striped">

    <div class="col-lg-4">
      <%= link_to book_path(book.id) do %>
      <p><%= book.title %></p>
      <% end %>
    </div>

    <div class="col-lg-8">  <!-- この行を追加 -->
      <p><%= book.body %></p>
    </div>

  </table>

  </div>

</div>

<% end %>