<% @books.each do |book| %>
  <div>
    <%= link_to book_path(book.id) do %>
      <%= image_tag book.get_image %>
    <% end %>
    <!--<p>投稿ユーザー画像：<= image_tag 'sample-author1.jpg' %></p>-->
    <p>Title：<%= book.title %></p>
    <p>Opinion：<%= book.opinion %></p>
    <!--<p>ユーザーネーム：<= book.user.name %></p>-->
  </div>
<% end %>